.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .sidenav .dropdown {
		  display: inline-block;
		  position: relative;
		}
		.dropdown-content {
		  display: none;
		  position: absolute;
		}
		
		.dropdown:hover .dropdown-content {
		  display: block;
		  width: 200px;
		  background-color: #111;
		  color: #818181;
		  margin-left: 21px;
		}
		.dropdown-content a {
		  display: block;
		  color: #818181;
		  padding: 5px;
		  text-decoration: none;
		}
		.dropdown-content a:hover {
		  color: white;
		}
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.socialMediaButton {
        display: inline-flex;
        text-align:center;
        position: absolute;
}