.sideMenu {
    height: 100%;
  width: 240px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 20px;
  opacity: 0.5;
  background-color: black;
  overflow-x: hidden;
}

.sideMenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: center;
    opacity: 1;
}

.sideMenu a:hover {
    color: blue;
}



.main {
    margin-left: 200px;
  }

  .socialMedia {
    display: inline-flex;
    text-align:center;
    position: absolute;
    bottom: 15px;
    right: 8px;
  }

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
      .sidebar {padding-top: 15px;}
      .sidebar a {font-size: 18px;}
      }

