.sideMenu {
    height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: gray;
  padding-top: 20px;
  opacity: 0.5;

  

}

.sideMenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: center;
    opacity: 1;
}

.sideMenu a:hover {
    color: blue;
}



.main {
    margin-left: 200px;
  }

  .socialMedia {
    display: inline-flex;
    text-align:center;
    position: absolute;
    bottom: 15px;
  }

